snippet indent
Indent is: `!v indent(".")`.
endsnippet

snippet section "commen start and end of a section"
" $1 start ------------------- "{{{
${0:${VISUAL:# assertions...}}
" $1 end --------------------- "}}}
endsnippet

