[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "rcfiles/vim/bundle/NrrwRgn"]
  path = rcfiles/vim/bundle/NrrwRgn
  url = https://github.com/chrisbra/NrrwRgn.git
[submodule "rcfiles/zsh/custom/plugins/zsh-autosuggestions"]
	path = rcfiles/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "rcfiles/vim/bundle/VisIncr"]
	path = rcfiles/vim/bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "rcfiles/vim/bundle/vim-l9"]
	path = rcfiles/vim/bundle/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "rcfiles/zsh/custom/plugins/zsh-autosuggestions"]
	path = rcfiles/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "rcfiles/zsh/custom/plugins/zsh-completions"]
	path = rcfiles/zsh/custom/plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "rcfiles/zsh/custom/plugins/zsh-dwim"]
	path = rcfiles/zsh/custom/plugins/zsh-dwim
	url = https://github.com/oknowton/zsh-dwim.git
[submodule "rcfiles/vim/bundle/vim-plug"]
	path = rcfiles/vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "rcfiles/fasd"]
	path = rcfiles/fasd
	url = https://github.com/clvv/fasd.git
