# file: ~/.config/youtube-dl/config
# Created: qui 15 dez 2016 09:37:38 BRT
# Last Change: sáb 31 dez 2016 14:36:06 BRT
#
# To set properly this file do:
# [ -d ~/.config/youtube-dl ] || mkdir -p ~/.config/youtube-dl
# ln -svfn ~/.dotfiles/rcfiles/youtube-dl.config ~/.config/youtube-dl/config

--external-downloader aria2c
--limit-rate 50k

