# file: ~/.config/youtube-dl/config
# Created: qui 15 dez 2016 09:37:38 BRT
# Last Change: ter 03 jan 2017 19:25:42 BRT
#
# To set properly this file do:
# [ -d ~/.config/youtube-dl ] || mkdir -p ~/.config/youtube-dl
# ln -svfn ~/.dotfiles/rcfiles/youtube-dl.config ~/.config/youtube-dl/config

# you can use an external downloader
#--external-downloader aria2c

# --external-downloader aria2c
# --external-downloader-args '-j 12 -s 12 -x 12 -k 5M'
#--external-downloader-args "-c -j 3 -x 3 -s 3 -k 1M"
#--external-downloader-args '-j 8 -s 8 -x 8 -k 5M'

#-o "[%(id)s] %(title)s (by %(uploader)s).%(ext)s"

# if your connection is slow
#--limit-rate 30k

